Repository MockBukkit/MockBukkit: changes, and which Codecov flags are due for each by the changed paths.
All: entities, block, inventory, world, server

codecov.yml:

codecov:
  branch: "v1.21"

github_checks: true

comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
        branches:
          - "!v1.21"
  individual_components:
    - component_id: entities  # this is an identifier that should not be changed
      name: entities  # this is a display name, and can be changed freely
      paths:
        - src/main/java/be/seeseemelk/mockbukkit/entity/**
    - component_id: block
      name: block
      paths:
        - src/main/java/be/seeseemelk/mockbukkit/block/**
    - component_id: inventory
      name: inventory
      paths:
        - src/main/java/be/seeseemelk/mockbukkit/inventory/**
    - component_id: world
      name: world
      paths:
        - src/main/java/be/seeseemelk/mockbukkit/WorldMock.java
    - component_id: server
      name: server
      paths:
        - src/main/java/be/seeseemelk/mockbukkit/ServerMock.java

Cleanup the build workflow (#1148)
  .github/workflows/build.yml
  .github/workflows/coverage.yaml
  .github/workflows/publish.yml
  gradlew.bat
Due: none

Disable missing JavaDoc warnings, other JavaDoc settings cleanup (#1144)
  build.gradle.kts
Due: none

Create URLClassLoader for plugins loaded from jar file (#929)
  extra/TestPlugin/src/main/resources/config.yml
  extra/TestPlugin/src/main/resources/plugin.yml
  src/main/java/be/seeseemelk/mockbukkit/MockBukkit.java
  src/main/java/be/seeseemelk/mockbukkit/plugin/MockBukkitConfiguredPluginClassLoader.java
  src/main/java/be/seeseemelk/mockbukkit/plugin/MockBukkitURLClassLoader.java
  src/main/java/be/seeseemelk/mockbukkit/plugin/PluginManagerMock.java
  src/test/java/be/seeseemelk/mockbukkit/MockBukkitTest.java
  src/test/java/be/seeseemelk/mockbukkit/plugin/MockBukkitURLClassLoaderTest.java
Due: none

Commented upload
  .github/workflows/build.yml
Due: none

Fail pipeline when checkstyle fails
  build.gradle.kts
Due: none

feat(itemtype): Implement more ItemType Methods
  src/main/java/be/seeseemelk/mockbukkit/inventory/ItemTypeMock.java
  src/test/java/be/seeseemelk/mockbukkit/inventory/ItemTypeMockTest.java
Due: inventory

feat(itemtype): Rebase and add some tests to ItemTypeMock
  src/main/java/be/seeseemelk/mockbukkit/inventory/ItemTypeMock.java
  src/main/resources/keyed/item.json
  src/test/java/be/seeseemelk/mockbukkit/inventory/ItemTypeMockTest.java
Due: inventory

chore(itemtype): remove public modifier
  src/test/java/be/seeseemelk/mockbukkit/inventory/ItemTypeMockTest.java
Due: none

feat(itemtype): Implement more ItemType Methods (#1051)
  src/main/java/be/seeseemelk/mockbukkit/inventory/ItemTypeMock.java
  src/main/resources/keyed/item.json
  src/test/java/be/seeseemelk/mockbukkit/inventory/ItemTypeMockTest.java
Due: inventory

Updated code to match checkstyle
  src/main/java/be/seeseemelk/mockbukkit/RaidMock.java
  src/main/java/be/seeseemelk/mockbukkit/conversations/ConversationTracker.java
  src/main/java/be/seeseemelk/mockbukkit/entity/EnderCrystalMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/EntityMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/EvokerMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/FallingBlockMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/HoglinMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/InteractionMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/ItemFrameMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/PlayerMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/ZombieMock.java
  src/main/java/be/seeseemelk/mockbukkit/scoreboard/TeamMock.java
  src/main/java/be/seeseemelk/mockbukkit/util/OldEnumMock.java
  src/test/java/be/seeseemelk/mockbukkit/PermissionManagerMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/RaidMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/ServerMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/state/SignMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/command/ConsoleCommandSenderMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/DrownedMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/EnderCrystalMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/EntityMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/HoglinMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/PillagerMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/RaiderMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/SnowmanMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/ZombieMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/inventory/ItemStackMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/inventory/PlayerInventoryMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/potion/ActivePotionEffectTest.java
Due: entities

Updated code to match checkstyle (#1150)
  src/main/java/be/seeseemelk/mockbukkit/RaidMock.java
  src/main/java/be/seeseemelk/mockbukkit/conversations/ConversationTracker.java
  src/main/java/be/seeseemelk/mockbukkit/entity/EnderCrystalMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/EntityMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/EvokerMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/FallingBlockMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/HoglinMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/InteractionMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/ItemFrameMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/PlayerMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/ZombieMock.java
  src/main/java/be/seeseemelk/mockbukkit/scoreboard/TeamMock.java
  src/main/java/be/seeseemelk/mockbukkit/util/OldEnumMock.java
  src/test/java/be/seeseemelk/mockbukkit/PermissionManagerMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/RaidMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/ServerMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/state/SignMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/command/ConsoleCommandSenderMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/DrownedMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/EnderCrystalMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/EntityMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/HoglinMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/PillagerMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/RaiderMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/SnowmanMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/ZombieMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/inventory/ItemStackMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/inventory/PlayerInventoryMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/potion/ActivePotionEffectTest.java
Due: entities

Fix the test for mock lifecycle event
  src/test/java/be/seeseemelk/mockbukkit/plugin/lifecycle/event/MockLifecycleEventManagerTest.java
Due: none

Implement command lifecycle event stuff (unfinished)
  src/main/java/be/seeseemelk/mockbukkit/plugin/lifecycle/event/LifecycleEventRunnerMock.java
  src/main/java/be/seeseemelk/mockbukkit/plugin/lifecycle/event/PaperLifecycleEventMock.java
  src/main/java/be/seeseemelk/mockbukkit/plugin/lifecycle/event/registrar/PaperRegistrarMock.java
  src/main/java/be/seeseemelk/mockbukkit/plugin/lifecycle/event/registrar/RegistrarEventMock.java
  src/main/java/be/seeseemelk/mockbukkit/plugin/lifecycle/event/types/OwnerAwareLifecycleEventMock.java
Due: none

Improved tests for EventFactoryMock
  src/test/java/be/seeseemelk/mockbukkit/event/EventFactoryMockTest.java
Due: none

Added unit tests for TameableAnimalMock
  src/test/java/be/seeseemelk/mockbukkit/entity/TameableAnimalMockTest.java
Due: none

Added unit tests to existing code
  src/test/java/be/seeseemelk/mockbukkit/ChunkCoordinateTest.java
  src/test/java/be/seeseemelk/mockbukkit/event/EventFactoryMockTest.java
Due: none

Resolved sonarlint issues
  src/test/java/be/seeseemelk/mockbukkit/ChunkCoordinateTest.java
Due: none

Added unit tests to existing code (#1151)
  src/test/java/be/seeseemelk/mockbukkit/ChunkCoordinateTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/TameableAnimalMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/event/EventFactoryMockTest.java
Due: none

Add AbstractBossMock
  src/main/java/be/seeseemelk/mockbukkit/entity/AbstractBossMock.java
Due: entities

Separated Checkstyle into a dedicated workflow
  .github/workflows/build.yml
  .github/workflows/checkstyle.yml
Due: none

Moved logic into build.yml but in a dedicated job
  .github/workflows/build.yml
  .github/workflows/checkstyle.yml
Due: none

Add Wither and EnderDragon
  src/main/java/be/seeseemelk/mockbukkit/WorldMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/AbstractBossMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/EnderDragonMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/WitherMock.java
  src/test/java/be/seeseemelk/mockbukkit/WorldMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/EnderDragonMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/WitherMockTest.java
Due: entities, world

chore(offlineplayer): stub method in OfflinePlayerMock
  src/main/java/be/seeseemelk/mockbukkit/entity/OfflinePlayerMock.java
Due: entities

chore(offlineplayer): stub method in OfflinePlayerMock (#1155)
  src/main/java/be/seeseemelk/mockbukkit/entity/OfflinePlayerMock.java
Due: entities

Remove SimpleInventoryMock.java
  src/main/java/be/seeseemelk/mockbukkit/inventory/SimpleInventoryMock.java
  src/test/java/be/seeseemelk/mockbukkit/inventory/InventoryMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/inventory/InventoryViewMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/inventory/PlayerInventoryViewTest.java
Due: inventory

Rename Mock* to *Mock
  src/main/java/be/seeseemelk/mockbukkit/BanListMock.java
  src/main/java/be/seeseemelk/mockbukkit/ChunkDataMock.java
  src/main/java/be/seeseemelk/mockbukkit/PlayerListMock.java
  src/main/java/be/seeseemelk/mockbukkit/RegistryMock.java
  src/main/java/be/seeseemelk/mockbukkit/ServerMock.java
  src/main/java/be/seeseemelk/mockbukkit/UnsafeValuesMock.java
  src/main/java/be/seeseemelk/mockbukkit/command/CommandMapMock.java
  src/main/java/be/seeseemelk/mockbukkit/entity/PlayerMock.java
  src/main/java/be/seeseemelk/mockbukkit/potion/PotionEffectTypeMock.java
  src/test/java/be/seeseemelk/mockbukkit/BanListMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/BanListMock_BanEntryMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/ChunkDataMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/PlayerListMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/ServerMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/UnsafeValuesTest.java
  src/test/java/be/seeseemelk/mockbukkit/potion/PotionEffectTypeMockTest.java
Due: entities, server

Rename all BlockData mocks to include 'Data' in the name
  src/main/java/be/seeseemelk/mockbukkit/block/data/AmethystClusterDataMock.java
  src/main/java/be/seeseemelk/mockbukkit/block/data/BedDataMock.java
  src/main/java/be/seeseemelk/mockbukkit/block/data/BlockDataMock.java
  src/main/java/be/seeseemelk/mockbukkit/block/data/CampfireDataMock.java
  src/main/java/be/seeseemelk/mockbukkit/block/data/SlabDataMock.java
  src/main/java/be/seeseemelk/mockbukkit/block/data/StairsDataMock.java
  src/main/java/be/seeseemelk/mockbukkit/block/data/SwitchDataMock.java
  src/main/java/be/seeseemelk/mockbukkit/block/data/TrapDoorDataMock.java
  src/main/java/be/seeseemelk/mockbukkit/block/data/WallSignDataMock.java
  src/test/java/be/seeseemelk/mockbukkit/ChunkSnapshotMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/data/AmethystClusterDataMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/data/BedDataMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/data/BlockDataMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/data/CampfireDataMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/data/SlabDataMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/data/StairsDataMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/data/SwitchDataMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/data/TrapDoorDataMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/block/data/WallSignDataMockTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/BlockDisplayMockTest.java
Due: block

Remove all of our own deprecated classes/methods
  src/main/java/be/seeseemelk/mockbukkit/ThreadAccessException.java
  src/main/java/be/seeseemelk/mockbukkit/configuration/ServerConfiguration.java
  src/main/java/be/seeseemelk/mockbukkit/entity/AbstractSkeletonMock.java
  src/test/java/be/seeseemelk/mockbukkit/ThreadAccessExceptionTest.java
  src/test/java/be/seeseemelk/mockbukkit/entity/AbstractSkeletonMockTest.java
Due: entities

Throw UnsupportedOperationException when calling ServerMock#shouldSendChatPreviews
  src/test/java/org/mockbukkit/mockbukkit/ServerMockTest.java
Due: none

Merge 1.19 Branch
  src/main/java/org/mockbukkit/mockbukkit/UnsafeValuesMock.java
Due: none

Merge 4.0 into current Branch
  src/main/java/org/mockbukkit/mockbukkit/entity/GuardianMock.java
  src/main/java/org/mockbukkit/mockbukkit/plugin/MockBukkitConfiguredPluginClassLoader.java
Due: none

Fix merge conflicts
  src/test/java/org/mockbukkit/mockbukkit/ServerMockTest.java
Due: none

Clean up Merge
  src/main/java/org/mockbukkit/mockbukkit/entity/CommandMinecartMock.java
  src/main/java/org/mockbukkit/mockbukkit/entity/ExplosiveMinecartMock.java
  src/main/java/org/mockbukkit/mockbukkit/entity/HopperMinecartMock.java
  src/main/java/org/mockbukkit/mockbukkit/entity/LootableMinecart.java
  src/main/java/org/mockbukkit/mockbukkit/entity/RideableMinecartMock.java
  src/test/java/org/mockbukkit/mockbukkit/TestPlugin.java
  src/test/java/org/mockbukkit/mockbukkit/block/data/BlockDataKeyTest.java
  src/test/java/org/mockbukkit/mockbukkit/entity/ExplosiveMinecartMockTest.java
  src/test/java/org/mockbukkit/mockbukkit/entity/LootableMinecartMockTest.java
  src/test/java/org/mockbukkit/mockbukkit/entity/SpawnerMinecartMockTest.java
  src/test/java/org/mockbukkit/mockbukkit/entity/StorageMinecartMockTest.java
  src/test/java/org/mockbukkit/mockbukkit/inventory/ChestInventoryMockTest.java
  src/test/java/org/mockbukkit/mockbukkit/inventory/HopperInventoryMockTest.java
  src/test/java/org/mockbukkit/mockbukkit/inventory/ShulkerBoxInventoryMockTest.java
Due: none

Move Class to correct package
  src/main/java/org/mockbukkit/mockbukkit/plugin/MockCustomConfiguredPluginClassLoader.java
Due: none

Change push filter to only run on 4.0 Push
  .github/workflows/gradle.yml
Due: none

Adds Gradle CI
  .github/workflows/gradle.yml
Due: none

Fix Branch Filter
  .github/workflows/gradle.yml
Due: none

Merge to 4.0 merge from 1.20 (#963)
  src/main/java/org/mockbukkit/mockbukkit/entity/ChestBoatMock.java
  src/main/java/org/mockbukkit/mockbukkit/inventory/meta/SkullMetaMock.java
  src/test/java/org/mockbukkit/mockbukkit/WorldMockTest.java
  src/test/java/org/mockbukkit/mockbukkit/entity/BoatMockTest.java
  src/test/java/org/mockbukkit/mockbukkit/entity/ChestBoatMockTest.java
  src/test/java/org/mockbukkit/mockbukkit/entity/PigZombieMockTest.java
Due: none
